.microservice {
    background-color: gray;
    margin-right: 0.1em;
    align-content: center;
    text-align: center;
}

.microservice h1 {
    height: 95%;
    color: white;
    writing-mode: vertical-rl;
}

.services {
    background-color: grey;
    margin-bottom: 2px
}

.transactions {
    background-color: grey;
    margin-right: 1px;
    padding: 10px;
}

.logs{
    background-color: grey;
    margin-left: 1px;
    padding: 10px;
}